body {
	margin: 0px;
	padding: 0px;
	background-color: #A7A820;
	height: 100%;
	width: 100%;
	font-family: 'Play', sans-serif;
	font-size: 14px;
	background-image: url('../images/field_local.png');
}

.text-center {
	text-align: center;
}

#wicket-text {
	font-size: 12px;
}
#wickets {
	font-size: 14px;
	font-weight: 700;
}

#wind-text {
	width: calc(50% - 45px);
	display: inline-block;
	padding: 0px 20px;
}
#wind {
	font-size: 14px;
	font-weight: 700;
}
#time-text {
	display: inline-block;
	width: calc(50% - 45px);
	padding: 0px 20px;
	text-align: right;
}
#time {
	font-size: 14px;
	font-weight: 700;
}

label {
	font-weight: 700;
	color: #FFFFFF;
}
.slider {
	margin: 10px 0px;
	width: 50%;
	max-width: 120px;
}
.slider-container {
	margin-left: 16px;
}

#ball {
	position: absolute;
	bottom: 10%;
	height: 48px;
}

#pitch {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 180%;
    bottom: -20%;
}

#stumps {
	position: absolute;
	bottom: 50%;
	height: 16%;
}

#cover {
	position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;	
    display: none;
}
#cover-text {
    position: relative;
    top: 40%;
    font-size: 64px;	
    text-align: center;
    color: #FFFFFF;
}

#stadium {
	position: absolute;
	bottom: calc(100% - 15%);
	object-fit: cover;
	width: 100%;
	z-index: -1;
}

#info {
	z-index: 1000;
	color: #FFFFFF;
}

#spalsh {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, .4);
	display: block;
	z-index: 10;
}

#title {
	font-size: 40px;
	text-align: center;
	margin-top: 100px;	
}

#tagline {
	color: #777;
	text-align: center;
}

.fa-heart {
	color: #ff0000;
}

#footer {
	position: absolute;
	bottom: 15px;
	z-index: 10;
	display: block;
	text-align: center;
	width: 100%;
}


#game-over {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 99999;
	padding-top: 100px;
	display: none;
	font-size: 24px;
}

#start, #replay {
	cursor: pointer;
	text-align: center;
	border: none;
	background-color: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
	display: none;
	margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
}